{% extends 'mainpage/layout.html' %}
{% load static %}
{% block title %}
    Main page
{% endblock %}
{% block content %}

<main>
    {% filter upper %}
    <h1 class = "heading"> {{ heading }} </h1>
    {% endfilter %}
    {% for el in values %}
        {% if el == "That's the content of my site" %}
            <p> {{ el }} </p>
        {% endif %}
    {% endfor %}
    <p> Now I'm going to show you some pictures made at my birthday party</p>
    <img src="{% static 'mainpage/images/1.jpg' %}", width = "450" height="450", alt="pic 1"><br>
    <img src="{% static 'mainpage/images/2.jpg' %}", width = "450" height="450", alt="pic 2"><br>
    <img src="{% static 'mainpage/images/3.jpg' %}", width = "450" height="450", alt="pic 3"><br>
    <p class = "finish">That's all<br> Bye!</p>
</main>

{% endblock %}
